<!-- <h1 class="my-4">Shop Name</h1> -->

<a href="products" class="list-group-item " style="background-color: aquamarine">
    View All Products
</a>
<div class="list-group" *ngFor="let cat of categoryList">

    <a href="products/category/{{cat.id}}" class="list-group-item">
        {{cat.name}}
    </a>
</div>
<a href="products/create-product" class="list-group-item" style="background-color:aquamarine">+Add New Product</a>

<!-- name is the variable taken from the json file fromthe category array  -->