<form class="needs-validation" (submit)="addNewProduct(addProductForm)" #addProductForm="ngForm" novalidate>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Product name</label>
            <input type="text" class="form-control" value="Enter Product Name" required name="product_name" [(ngModel)]="addProductForm.product_name">
        </div>
        <div class="col-md-6 mb-3">
            <label>Category Id</label>
            <input type="text" class="form-control" value="Enter category" name="project_category" [(ngModel)]="addProductForm.product_category" required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Description</label>
            <textarea type="text" class="form-control" placeholder="Enter Product Description" [(ngModel)]="addProductForm.product_description" required name="product_description"></textarea>
        </div>
        <div class="col-md-6 mb-3">
            <label>Rating</label>
            <select class="custom-select" required name="product_rating" [(ngModel)]="addProductForm.product_rating">
                <option selected value=" ">Choose......</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Warranty</label>
            <input type="text" class="form-control" placeholder="Enter Product Waranty" name="product_warranty" [(ngModel)]="addProductForm.product_warranty">
        </div>
        <div class="col-md-6 mb-3">
            <label>Image</label><br>
            <input type="file" name="product_img" [(ngModel)]="addProductForm.product_img">
        </div>

    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Product Color</label>
            <input type="text" class="form-control" placeholder="Enter Product Color" [(ngModel)]="addProductForm.product_color" required name="product_color">
        </div>
        <div class="col-md-6 mb-3">
            <label>Is Available</label>
            <select class="custom-select" required name="is_available" [(ngModel)]="addProductForm.is_available">
                    <option selected value=" ">Choose......</option>
                    <option>True</option>
                    <option>False</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Product Price</label>
            <input type="text" class="form-control" placeholder="Enter Product Price" required name="product_price" [(ngModel)]="addProductForm.product_price">
        </div>
        <div class="col-md-6 mb-3">
            <label>Reviews</label>
            <select class="custom-select" required name="product_reviews" [(ngModel)]="addProductForm.product_reviews">
                        <option selected value=" ">Choose......</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>

<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script> -->


<!-- <form novalidate [FormGroup]="createForm">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom01">Product name</label>
            <input type="text" class="form-control" value="Enter Product Name" id="product_name" required name="product_name" formControlName="product_name">
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationCustom02">Category Id</label>
            <input type="text" class="form-control" value="Enter category" name="project_category" id="product_category"required formControlName="product_category">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">Description</label>
            <textarea type="text" class="form-control" placeholder="Enter Product Description" required name="product_description" id="product_description"formControlName="product_description"></textarea>
        </div>
        <div class="col-md-6 mb-3">
            <label>Rating</label>
            <select class="custom-select" required name="product_rating" formControlName="product_rating" id="product_rating">
                <option selected value=" ">Choose......</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">Product Color</label>
            <input type="text" class="form-control" placeholder="Enter Product Color" required name="product_color" formControlName="product_color" id="product_color" value="Enter Product Color">
        </div>
        <div class="col-md-6 mb-3">
            <label>Is Available</label>
            <select class="custom-select" required name="product_available" formControlName="product_available" id="product_available">
                    <option selected value=" ">Choose......</option>
                    <option>Yes</option>
                    <option>No</option>
            </select>
        </div>
    </div>
     <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">Product Price</label>
            <input type="text" class="form-control" placeholder="Enter Product Price" required name="product_price" id="product_price" formControlName="product_price">
        </div>
        <div class="col-md-6 mb-3">
            <label>Reviews</label>
            <select class="custom-select" required name="product_reviews" formControlName="product_reviews" id="product_reviews">
                        <option selected value=" ">Choose......</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
            </select>
        </div>
    </div>
    <button class="btn-primary"(click)="submitLogin()"></button>
</form> -->