<div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let prod of productList">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{prod.product_img}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a routerLink="view-product/{{prod.id}}">{{prod.name}}</a>
                </h4>
                <h5>Price:{{prod.price}}</h5>
                <p class="card-text">{{prod.description}}</p>
                <b>Warranty</b>
                <h5>{{prod.warranty}}</h5>
            </div>
            <div class="card-footer">
                <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
                <small class="text-muted">Ratings: {{prod.rating}} Stars</small>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->