<form class="needs-validation" (submit)="updateProduct(updateProductForm)" #updateProductForm="ngForm" novalidate>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Product name</label>
            <input type="text" class="form-control" value="Enter Product Name" required name="name" [(ngModel)]="productDetails.name">
        </div>
        <div class="col-md-6 mb-3">
            <label>Category Id</label>
            <input type="text" class="form-control" value="Enter category" name="category_id" [(ngModel)]="productDetails.category_id" required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Description</label>
            <textarea type="text" class="form-control" placeholder="Enter Product Description" [(ngModel)]="productDetails.description" required name="description"></textarea>
        </div>
        <div class="col-md-6 mb-3">
            <label>Rating</label>
            <select class="custom-select" required name="rating" [(ngModel)]="productDetails.rating">
                <option selected value=" ">Choose......</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Warranty</label>
            <input type="text" class="form-control" placeholder="Enter Product Waranty" name="warranty" [(ngModel)]="productDetails.warranty">
        </div>
        <div class="col-md-6 mb-3">
            <label>Image</label><br>
            <input type="text" name="product_img" [(ngModel)]="productDetails.product_img">
            <!-- <select class="custom-select" required name="product_rating" [(ngModel)]="productDetails.rating">
                <option selected value=" ">Choose......</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select> -->
        </div>

    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Product Color</label>
            <input type="text" class="form-control" placeholder="Enter Product Color" [(ngModel)]="productDetails.color" required name="color">
        </div>
        <div class="col-md-6 mb-3">
            <label>Is Available</label>
            <select class="custom-select" required name="is_available" [(ngModel)]="productDetails.is_available">
                    <option selected value=" ">Choose......</option>
                    <option>True</option>
                    <option>False</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Product Price</label>
            <input type="text" class="form-control" placeholder="Enter Product Price" required name="price" [(ngModel)]="productDetails.price">
        </div>
        <div class="col-md-6 mb-3">
            <label>Reviews</label>
            <select class="custom-select" required name="reviews" [(ngModel)]="productDetails.reviews">
                        <option selected value=" ">Choose......</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</form>