<app-header></app-header>

<div class="container">

    <div class="row">

        <div class="col-lg-3 pt-4">
            <app-sidebar></app-sidebar>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9 pt-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer>