<div class="col-lg-9 mt-4 mb-4">
    <div class="card mt-4">
        <img class="card-img-top img fluid" src="{{productDetails.product_img}}" alt="">
        <div class="card-body">
            <h3 class="card-title">
                {{productDetails.name}}
            </h3>
            <a href="products/update-product/{{productDetails.id}}">Update Products</a> ||
            <a href="products/delete-product/{{productDetails.id}}">Delete Products</a>
            <h5>Rs. {{productDetails.price}}</h5>
            <p class="card-text">{{productDetails.description}}</p>
            <span class="text-warning">Ratings: {{productDetails.rating}} Stars</span>
        </div>
    </div>

</div>